@import "./variables";
@import "./breakpoint";

h2, h3{
    margin: 0;
}

.main-header{
    &__arrow{
        margin-left: 1rem;;
    }
}
.section-info{
    &__container-img{
        @include column-direction;
        &__background{
            object-fit: cover;
            height: 17.1875rem;
        }
    }
}
.container-menu{
    background-color: $bg-grey-color;
    border-radius: 2.5rem 2.5rem 0rem 0rem;
    position: relative;
    width: 100%;
    margin-top: -3rem;
    @include desktop{
        width: 1055px;
        margin: -3rem auto;
    }
    &__section{
        @include column-direction;
        gap: 40px;
        padding-bottom: 40px;
        @include media(tablet,desktop){
            align-items: center;
            padding-bottom: 100px;
        }
        &__title{
            @include row-direction;
            align-items: center;
            padding: 32px 17px 0 17px;
            column-gap: 24px;
            justify-content: center;
            &--font{
                font-family: 'Shrikhand';
            }
            .like{
                position:unset;
                right: none;

            }
        }
        &__menu{
            @include column-direction;
            gap: 12px;
            margin: 0 13px;
            @include media(tablet,desktop){
                width: 63%;
            }
            &--title{
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                text-transform: uppercase;
                position: relative;
                height:27px;
                &::after{
                    border-top: 3px solid $tertiary-color;
                    position: absolute;
                    content: '';
                    left: 0;
                    right: 0; 
                    bottom: 0px;
                    width:40px;    
                }
            }
            &__card{
                padding: 15px;
                background-color: $bg-white-color;
                border-radius: 15px;
                overflow: hidden;
                display: flex;
                animation: appear 2s;
                @for $i from 2 through 4{
                    &:nth-child(#{$i}){
                        animation-delay: 100ms * $i
                    }
                }
                &:hover{
                    .check{
                        margin-right: -1rem;  
                    }  
                } 
                &--plate{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &-title{
                        overflow: hidden;
                        color: $black-color;
                        text-overflow: ellipsis;
                        font-size: 18px;
                    }
                    &-description{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 15.043px;
                        white-space: nowrap;
                    }  
                }
                &--plate-price{
                    margin-left: auto;
                    color: $footer-bg-color;
                    font-weight: 700;
                    display: flex;
                    align-items: flex-end;
                }
                .check{
                    background-color: #99e2d0;
                    margin: -1rem -5rem -1rem 1rem;
                    width: 4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition-duration: .5s;
                    .fa-circle-check{
                        color: $bg-white-color;
                    }
                }
            }
        }
        .btn{
            align-self: center;
        }
    }
}

@keyframes appear{
    0%{
        transform: translateY(50%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

