@font-face {
	font-family: 'Roboto';
	src:url('../assets/fonts/Roboto-Regular.ttf')
}

$green-color: #008766;
$light-blue-color: #89C8FA;
$darken-blue-color: #003A68;
$primary-color: #9356DC;
$secondary-color: #ff79da;
$tertiary-color: #99E2D0;
$footer-bg-color: #353535;
$bg-grey-color: #F6F6F6;
$bg-white-color: #FFFFFF;
$black-color:#000;
$shadow-box: drop-shadow(0px 4px 10px 0px rgba(0, 0, 0, 0.25));
$button-gradian: linear-gradient(#9356DC , #FF79DA );

*{
    font-family: 'Roboto'; 
}
html,body{
    overflow-x: hidden;
    margin: 0 auto;
}

h1,h2,h3{
    font-weight: 700;
    font-size: 24px;
}

p{
    margin: 0;
    font-size: 18px;
    font-weight: 300;
}
a{
    text-decoration: none;
    color: $black-color;
}
.btn{   
    border-radius: 25px;
    width: 218px;
    height: 50px;
    color: $bg-white-color;
    border: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: transform 400ms;
    box-shadow: .25rem .25rem 10px rgba(0,0,0,.25);
    background: $button-gradian;
    &:hover{
        background: linear-gradient(rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%),$button-gradian;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
    }
}
.direction-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.direction-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

//header
    .main-header{
        height: 63px;
        align-items: center;
        display: flex;
        justify-content: center;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        .main-header-img{
            width: 197px;
            height: 36px;
            padding: 0px 19px 0px 16px;
        }
    }
.main-wrapper{
    .section-location{
        background: #EAEAEA;
        color: $footer-bg-color;
        height: 50px;
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 17px;
    }
}

.section-info{
    background: $bg-grey-color;
    align-items: center;
    text-align: center;
    padding: 39px 20px 57px 20px;
    display: flex;
    flex-direction: column;
    .section-info-text{
        font-size: 18px;
        margin-bottom: 27px;
    }
}
.main-container{
    .section-fonctionnement{
        display: flex;
        flex-direction: column;
        padding: 0 20px 66px 20px;
        .section-fonctionnement-title{
            margin: 48px 80px 26px 0px;
        }
        .section-fontionnement-items{
            gap: 24.94px;
            counter-reset: compteListe;
            display: flex;
            flex-direction: column;
            .section-fonctionnement-button{
                background: $bg-grey-color;
                border-radius: 20px;
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
                align-items: center;
                height: 72.379px;
                gap: 27px;
                position: relative;
                &::before{
                    counter-increment: compteListe 1;
                    content: counter(compteListe) " ";
                    position: absolute;
                    color: $bg-white-color;
                    background-color: $primary-color;
                    border-radius: 25px;
                    display: flex;
                    margin-right: 100%;
                    width: 24px;
                    height: 24px;
                    justify-content: center;
                    align-items: center;
                    font-size: 14.182px;
                }
                p{
                    color: #000;
                    font-size: 16px;
                }
            }
        }
    }
    .section-restaurant{
        background: $bg-grey-color;
        display: flex;
        flex-direction: column;
        gap: 18px;
        h2{
            margin: 54px 80px 0px 20px;
        }
        .section-restaurant-card{
            margin: 0 20px;
            position: relative;
            .section-restaurant-card-badge{
                color: $green-color;
                background-color: $tertiary-color;
                position: absolute;
                width: 80px;
                height: 29px;
                right: 12px;
                top:13px;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 2px;
            }
            .card-img{
                width: 100%;
                height: 231px;
                object-fit: cover;
                border-radius:  15px 15px 0 0;
            }
            .card-info{
                background-color: $bg-white-color;
                border-radius: 0 0 15px 15px ;
                padding: 16px 25px 12px 13px;
                margin-top: -5px;
                gap: 5px;
                display: flex;
                flex-direction: column;
                position: relative;
                .card-title{
                    margin: 0;
                }
                .card-like{
                    width: 22px;
                    height: 21px;
                    position: absolute;
                    right: 25px;
                    top: 23px;
                    .like-icone-empty {
                        position: absolute;
                        background-color: $bg-white-color;
                        transition: opacity 1000ms ease-in-out;
                        &:hover {
                          opacity: 0;
                          cursor: pointer;
                        }
                    }
                    .like-icone-full {
                        color: rgba(0,0,0,0);
                        background: $button-gradian;
                        -webkit-background-clip: text;
                        background-clip:text;
                    } 
                }
            }
        }
    }
}

.footer{
    padding: 22px 25px;
    background-color: $footer-bg-color;
    .section-footer{
        display: flex;
        flex-direction: column;
        gap: 16px;
        .footer-logo{
            width: 139px;
            height: 27px;
        }
        .footer-list{
            list-style: none;
            padding: 0;
            margin: 0;
            gap: 7px;
            display: flex;
            flex-direction: column;
            .footer-list-items{
                display: flex;
                flex-direction: row;
                gap: 11px;
                a{
                    color:$bg-white-color;
                }
            }
        }
    }
}